<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PerscriboContext"
      connectionString="Data Source=mssql.robpocklington.com.au;Initial Catalog=robpockl_Perscribo1;Integrated Security=false;User ID=robpockl_perscribo1;password=goodtimes"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalSqlServer" connectionString="Data Source=mssql.robpocklington.com.au;Initial Catalog=robpockl_webAccess;Integrated Security=false;User ID=robpockl_WebAccess;password=goodtimes" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
  </connectionStrings>
</configuration>