@{
    ViewBag.Title = "Index";
}

<h2>This is the root of all evil</h2>
<h3>Some more activities that you might need to perform</h3>

<p>@Html.ActionLink("List Agencies", MVC.Agency.ActionNames.Index, "Agency")</p>
<p>@Html.ActionLink("List Companies", MVC.Company.ActionNames.Index, "Company")</p>
